@font-face {
    font-family: Roboto-Regular;
    src: url("/assets/font/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto-Bold;
    src: url("/assets/font/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto-Light;
    src: url("/assets/font/Roboto-Light.ttf");
}
@font-face {
    font-family: Roboto-Thin;
    src: url("/assets/font/Roboto-Thin.ttf");
}

html,body{
    font-family: roboto-regular;
    padding: 0;
    margin: 0;
}
body{
    background-color: red;
}