@font-face {
    font-family: Roboto-Regular;
    src: url("../font/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../font/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../font/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Thin;
    src: url("../font/Roboto-Thin.ttf");
}

@font-face {
    font-family: Roboto-Thin;
    src: url("../font/Roboto-black");
    
}

.Roboto-black {

    font-family: Roboto-black;
}

.Roboto-Regular {

    font-family: Roboto-Regular;
}


html,
body {
    font-family: Roboto-Regular;
    padding: 0;
    margin: 0;
}

.menu-bar .menu-active {
    font-family: Roboto-black;
    color: red;
}